h1 {
    font-size: 48px;
    color: white;
    background-color: green;
    text-align: center;
}

p {
    font-size: 28px;
    color: red;
}

ul {
    font-size: 20px;
    color: orange;
    font-weight: bold;
}

ol {
    font-size: 20px;
    color: blue;
    font-weight:lighter;
}